* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Gochi Hand", cursive;
}

header {
  padding: 30px;
  background: url(https://www.itl.cat/pngfile/big/9-94683_download-wallpaper-vector.jpg);
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: white;
  font-size: 25px;
}

.container h1 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
}

form {
  position: relative;
  width: 500px;
}

input {
  width: 100%;
  height: 45px;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
}

button {
  width: 100px;
  background-color: rgb(191, 103, 16);
  color: white;
  border-radius: 50px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  top: 2px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(0.9);
  background-color: rgb(15, 8, 8);
}

.result {
  color: black;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 20px;
  position: relative;
}

.song-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-item{
  border-bottom: 4px solid black;
}

.song-list li {
  margin-bottom: 10px;
  margin-top: 8px;
  width: 500px;
  letter-spacing: 1px;
  font-weight: 500;
  position: relative;
}

.song-list li div {
  float: left;
}

.song-list li span {
  float: right;
  background-color: rgb(26, 171, 197);
  border: 2px solid black;
  font-size: 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: 400;
  padding: 4px 10px;
  text-transform: capitalize;
  margin-bottom: inherit;
}
.final-name{
  margin-bottom: 15px;
}
